.tech {
  width: 100%;
  background-color: #272727;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech__title {
  margin: 0 0 90px 0;
  padding: 100px 0 23px 0;
  width: calc((1140/1280)*100%);
  border-bottom: 1px solid #DADADA;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
}

.tech__subtitle {
  margin: 0;
  text-align: center;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
}

.tech__text {
  padding: 26px 0 100px;
  margin: 0;
  max-width: 460px;
  width: 100%;
  text-align: center;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.56px;
}

.tech__list {
  padding: 0 0 100px 0;
  margin: 0;
  text-align: center;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;
}

.tech__item {
  padding: 0;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #303030;
  max-width: 90px;
  min-height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tech__item:last-child {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .tech__title {
    margin: 0 0 80px 0;
    padding: 90px 0 23px 0;
    width: calc((668/768)*100%);
    line-height: 1.2;
  }

  .tech__text {
    padding: 22px 0 83px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.48px;
  }

  .tech__list {
    width: calc((648/768)*100%);
    padding-bottom: 90px;
    font-size: 12px;
    letter-spacing: -0.48px;
  }

  .tech__item {
    max-width: 84px;
    min-height: 57px;
  }
}

@media screen and (max-width: 600px) {
  .tech {
    background-color: transparent;
  }

  .tech__title {
    margin: 0 0 60px 0;
    padding: 70px 0 28px 0;
    width: calc((284/320)*100%);
    border-bottom: 1px solid #000;
    font-size: 18px;
    letter-spacing: -0.72px;
  }

  .tech__subtitle {
    font-size: 30px;
    line-height: normal;
    letter-spacing: -1.2px;
  }

  .tech__text {
    padding: 24px 0 50px;
    max-width: 292px;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: -0.44px;
  }

  .tech__list {
    padding-bottom: 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 84px);
    width: calc((178/320)*100%);
    gap: 10px;
    justify-content: center;
  }

  .tech__item {
    margin: 0;
    max-width: 84px;
    min-height: 57px;
  }
}